@model IEnumerable<ThedoorCode.Models.Experience>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-sm-6">
            <h2 class="text-primary">User List</h2>
        </div>
        <div class="col-sm-6 text-end">
            <a asp-controller="Experiences" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Experience
            </a>
        </div>
    </div>
</div>
<br />
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.YearsWorked)
            </th>
            <th class="text-md-center">Modify</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearsWorked)
                </td>
               
                <td class="text-lg-end list-unstyled">
                    <a asp-action="Edit" asp-route-id="@item.ExperienceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ExperienceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExperienceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



